@page
@model WebApp1.Pages.Forms.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Formulation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formulation.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formulation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formulation.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formulation.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formulation.IsCurrent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formulation.IsCurrent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formulation.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formulation.Product.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Formulation.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
